<div id="books-show">

    <h2> Ajax on Rails </h2>

    <div class="books-show-left">

      <%= image_tag('covers/ajax_on_rails.jpg') %>

    </div>

    <div class="books-show-right">

      <h3> Book Info: </h3>

        <ul>

          <li> <strong> Category: </strong> Ruby on Rails</li>

          <li> <strong> Author:  </strong> Scott Raymond </li>

          <li> <strong> Publisher:  </strong> O'Reilly Media </li>

          <li> <strong> Year: </strong> 2007 </li>

          <li> <strong> ISBN:  </strong> 978-0-596-52744-0 </li>

          <li> <strong> Format: </strong> Paperback </li>

          <li> <strong> Pages: </strong> 352 </li>

        </ul>

        <%= link_to "Buy for $31.20", 'https://www.amazon.com/Ajax-Rails-Scott-Raymond/dp/0596527446/ref=sr_1_1?ie=UTF8&qid=1469133120&sr=8-1&keywords=978-0-596-52744-0+isbn', class: 'btn btn-success', target: '_blank' %>

    </div>

    <div class="clearfix"></div>

    <h4> Excerpt: </h4>

      <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque molestie, dolor id placerat dignissim, diam turpis varius magna, non interdum lectus augue sed ex. Ut sed est et enim feugiat congue. Suspendisse feugiat lacus non fermentum tincidunt. Phasellus egestas et est vitae finibus. Etiam lorem tortor, tempor id leo ac, finibus blandit arcu. Vestibulum condimentum diam vitae dapibus bibendum. Morbi ut lacus sagittis, malesuada lorem feugiat, mattis felis. Maecenas molestie lacinia quam sed convallis. Sed in enim erat. </p>

</div>
