<h1><%= @page_title %></h1>

<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque varius massa nec turpis egestas feugiat. Proin tincidunt viverra purus, quis ultricies sapien. Duis vitae nisl euismod orci iaculis eleifend. Proin scelerisque mi et augue venenatis scelerisque. Praesent convallis sagittis odio, vehicula volutpat magna varius at. Fusce volutpat sit amet turpis quis aliquam. Duis elit dui, ullamcorper id mi ut, auctor suscipit sem. Etiam faucibus lobortis egestas. Nullam lacinia dui est, ac ullamcorper nulla ullamcorper ac. Integer nunc velit, ornare ac auctor in, tempus eget neque. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam vel augue nec massa mollis viverra. Mauris aliquam facilisis sollicitudin.</p>

<div class="well">
  <ul><h3>Location Info</h3>
    <li>1234 Main St </li>
    <li>Smalltown, IL 62095 </li>
    <li>Phone: (123)123-1234 </li>
    <li>Email: contact@bookstore.com </li>
  </ul>
</div>
